TELEGRAM_TOKEN="1294938975:AAF3Hwba7WjpqGDy8OUUnECHvVYT_nVnKPw"
GOOGLE_DOCS_ID=""
GOOGLE_DOCS_TOKEN=""
PGUSER=postgres
PGHOST=localhost
PGPASSWORD=cult
PGDATABASE=cult
PGPORT=5433
PGMAXCONNECTIONS=20
DATABASE_URL=postgres://{user}:{password}@{hostname}:{port}/{database-name}
DATABASE_REJECT_UNAUTHORIZED=true
{
  "web": {
    "client_id": "1084817436516-3ij82gimbjbee5dle8mdpce0uo6ftrrs.apps.googleusercontent.com",
    "project_id": "guligulibot-1598030986041",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_secret": "jw82Qpm8jGK8N5nHn65copG-",
    "redirect_uris": [
      "http://lislon.ru"
    ]
  }
}